In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [2]:
critics=pd.read_csv("critics.csv",encoding="latin1")
critics=critics.drop(columns=["index"])
critics.head()

,movie_name,critics and company,date,review,score,decision
0,chicken_run,"['Dejan Jotanovic', 'Bitch Media']",15-Mar-21,"Chicken Run, if anything, offers an alternativ...",[],fresh
1,chicken_run,"['Rebecca Hawkes', 'Daily Telegraph (UK)']",20-Jul-15,"Its plump chickens maintain that strange, hapt...",Original Score: 5/5,fresh
2,chicken_run,"['Anthony Lane', 'New Yorker']",20-Jul-15,"Even without Wallace and Gromit, most of the t...",[],fresh
3,chicken_run,"['Debra Jo Immergut', 'Wall Street Journal']",20-Jul-15,"It coaxes you to laugh and cry, flatters your ...",[],fresh
4,chicken_run,"['Peter Bradshaw', 'Guardian']",24-Aug-14,Chicken Run is a charmingly conceived entertai...,[],fresh

In [3]:
movies=pd.read_csv("movie_data.csv",encoding="latin1")
movies=movies.drop(columns=["Unnamed: 0"])
movies.head()

,movie,release date,rating,genre,language,directors,duration,Box Office,Description,Audience Score,Tomatometer
0,chicken_run,21-Jun-00,G,"['animation', 'kids and family', 'comedy', 'ad...",English,['Peter Lord'],1h 25m,NaN,"This engaging stop-motion, claymation adventur...",65.0,97.0
1,the_taste_of_others,26-Feb-02,R,['comedy'],French (France),['AgnÃ¨s Jaoui'],1h 52m,$635.3K,Castella (Jean-Pierre Bacri) is a successful b...,82.0,100.0
2,yi_yi,8-May-01,NaN,['drama'],Edward Yang,['Edward Yang'],2h 53m,$969.1K,"Set in Taiwan, the film follows the lives of t...",91.0,97.0
3,memento,1-Mar-17,R (Language|Drug Content|Violence),['mystery and thriller'],English,['Christopher Nolan'],1h 56m,$25.5M,Leonard (Guy Pearce) is tracking down the man ...,94.0,93.0
4,the_life_and_times_of_hank_greenberg,2-Jul-99,PG (Mild Language|Thematic Elements),"['biography', 'documentary']",English,['Aviva Kempner'],1h 29m,$1.7M,"""The Life and Times of Hank Greenberg"" is a hu...",80.0,97.0

In [13]:
def positive(x):
    sent=SentimentIntensityAnalyzer()
    return sent.polarity_scores(x).get("pos")
def negative(x):
    sent=SentimentIntensityAnalyzer()
    return sent.polarity_scores(x).get("neg")
def neutral(x):
    sent=SentimentIntensityAnalyzer()
    return sent.polarity_scores(x).get("neu")
def compound(x):
    sent=SentimentIntensityAnalyzer()
    return sent.polarity_scores(x).get("compound")

In [5]:
critics["positive"]=critics["review"].apply(lambda x:positive(x))
critics.head()

,movie_name,critics and company,date,review,score,decision,positive
0,chicken_run,"['Dejan Jotanovic', 'Bitch Media']",15-Mar-21,"Chicken Run, if anything, offers an alternativ...",[],fresh,0.000
1,chicken_run,"['Rebecca Hawkes', 'Daily Telegraph (UK)']",20-Jul-15,"Its plump chickens maintain that strange, hapt...",Original Score: 5/5,fresh,0.058
2,chicken_run,"['Anthony Lane', 'New Yorker']",20-Jul-15,"Even without Wallace and Gromit, most of the t...",[],fresh,0.253
3,chicken_run,"['Debra Jo Immergut', 'Wall Street Journal']",20-Jul-15,"It coaxes you to laugh and cry, flatters your ...",[],fresh,0.175
4,chicken_run,"['Peter Bradshaw', 'Guardian']",24-Aug-14,Chicken Run is a charmingly conceived entertai...,[],fresh,0.400

In [6]:
critics["negative"]=critics["review"].apply(lambda x:negative(x))
critics.head()

,movie_name,critics and company,date,review,score,decision,positive,negative
0,chicken_run,"['Dejan Jotanovic', 'Bitch Media']",15-Mar-21,"Chicken Run, if anything, offers an alternativ...",[],fresh,0.000,0.000
1,chicken_run,"['Rebecca Hawkes', 'Daily Telegraph (UK)']",20-Jul-15,"Its plump chickens maintain that strange, hapt...",Original Score: 5/5,fresh,0.058,0.095
2,chicken_run,"['Anthony Lane', 'New Yorker']",20-Jul-15,"Even without Wallace and Gromit, most of the t...",[],fresh,0.253,0.000
3,chicken_run,"['Debra Jo Immergut', 'Wall Street Journal']",20-Jul-15,"It coaxes you to laugh and cry, flatters your ...",[],fresh,0.175,0.113
4,chicken_run,"['Peter Bradshaw', 'Guardian']",24-Aug-14,Chicken Run is a charmingly conceived entertai...,[],fresh,0.400,0.000

In [7]:
critics["neutral"]=critics["review"].apply(lambda x:neutral(x))
critics.head()

,movie_name,critics and company,date,review,score,decision,positive,negative,neutral
0,chicken_run,"['Dejan Jotanovic', 'Bitch Media']",15-Mar-21,"Chicken Run, if anything, offers an alternativ...",[],fresh,0.000,0.000,1.000
1,chicken_run,"['Rebecca Hawkes', 'Daily Telegraph (UK)']",20-Jul-15,"Its plump chickens maintain that strange, hapt...",Original Score: 5/5,fresh,0.058,0.095,0.847
2,chicken_run,"['Anthony Lane', 'New Yorker']",20-Jul-15,"Even without Wallace and Gromit, most of the t...",[],fresh,0.253,0.000,0.747
3,chicken_run,"['Debra Jo Immergut', 'Wall Street Journal']",20-Jul-15,"It coaxes you to laugh and cry, flatters your ...",[],fresh,0.175,0.113,0.712
4,chicken_run,"['Peter Bradshaw', 'Guardian']",24-Aug-14,Chicken Run is a charmingly conceived entertai...,[],fresh,0.400,0.000,0.600

In [14]:
critics["compound"]=critics["review"].apply(lambda x: compound(x))
critics.head()

,movie_name,critics and company,date,review,score,decision,positive,negative,neutral,compound
0,chicken_run,"['Dejan Jotanovic', 'Bitch Media']",15-Mar-21,"Chicken Run, if anything, offers an alternativ...",[],fresh,0.000,0.000,1.000,0.0000
1,chicken_run,"['Rebecca Hawkes', 'Daily Telegraph (UK)']",20-Jul-15,"Its plump chickens maintain that strange, hapt...",Original Score: 5/5,fresh,0.058,0.095,0.847,-0.1779
2,chicken_run,"['Anthony Lane', 'New Yorker']",20-Jul-15,"Even without Wallace and Gromit, most of the t...",[],fresh,0.253,0.000,0.747,0.8689
3,chicken_run,"['Debra Jo Immergut', 'Wall Street Journal']",20-Jul-15,"It coaxes you to laugh and cry, flatters your ...",[],fresh,0.175,0.113,0.712,0.2500
4,chicken_run,"['Peter Bradshaw', 'Guardian']",24-Aug-14,Chicken Run is a charmingly conceived entertai...,[],fresh,0.400,0.000,0.600,0.7184

In [15]:
#critics.to_csv("critics_sentiment",index=False)

In [16]:
critics_grouped=critics[["movie_name","positive","negative","neutral","compound"]].groupby("movie_name",as_index=False).mean()
critics_grouped

                       movie_name  positive  negative   neutral  compound
0                10004925-matador  0.193200  0.089300  0.717700  0.282600
1                10005788-the_sun  0.126643  0.090071  0.783286  0.059993
2             10006485-black_gold  0.120150  0.052250  0.827650  0.127790
3         10006630-life_of_reilly  0.151600  0.024450  0.823900  0.381905
4     10006849-once_in_a_lifetime  0.207350  0.059700  0.733050  0.390180
...                           ...       ...       ...       ...       ...
2095             zero_dark_thirty  0.173550  0.088200  0.738350  0.142375
2096                    zero_days  0.119350  0.126800  0.753950 -0.122055
2097                       zodiac  0.186200  0.105200  0.708650  0.084485
2098                   zombieland  0.185900  0.083800  0.730300  0.226515
2099                     zootopia  0.151750  0.038600  0.809550  0.358605

[2100 rows x 5 columns]

In [17]:
#critics_grouped.to_csv("critics_grouped_sentiment",index=False)